<configuration>

    <property name="LOG_PATH" value="${LOG_PATH:-./logs}"/>
    <property name="APP_NAME" value="${APP_NAME:-encrypt-chat}"/>
    <property name="LOG_LEVEL" value="${LOG_LEVEL:-INFO}"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${APP_NAME}.log</file>

        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--%d-data   %i-index         -->
            <fileNamePattern>${LOG_PATH}/archive/${APP_NAME}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!--  Максимум размер 1 файла с логами затем ротация/индекс.       -->
            <maxFileSize>100MB</maxFileSize>
            <!--  Количество дней сколько храним логи       -->
            <maxHistory>30</maxHistory>
            <!--  Максимум сколько логов храним (общий размер всех файлов)       -->
            <totalSizeCap>10GB</totalSizeCap>
            <!--  При каждом старте очистка          -->
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>

    </appender>


    <logger name="ru.vinhome.BackendKostyaApplication" level="TRACE" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
